<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rubiks.cs196"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="rubiks.cs196.Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="rubiks.cs196.FaceTwo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="rubiks.cs196.FaceThree"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="rubiks.cs196.FaceFour"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="rubiks.cs196.FaceFive"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="rubiks.cs196.FaceSix"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="rubiks.cs196.Home"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="rubiks.cs196.HelloWorld"
            android:label="@string/app_name" >
        </activity>
                <activity
            android:name="rubiks.cs196.Model"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>